
:root{
    --background:#170055;
    --navfootlinks:#B5FFD9;
    --asidetxt:#AE00FB;
    --text: white;
}

/* Header and Navigation bar*/

.header{
    width: 100%;
    padding: 20px 20px;
    background-color: black;
    display: flex;
    flex-direction: row;

}

h1 {
    width: 60%;
    color: #7ECA9C;
    font-size: 35px;
    text-align: left;
}

.nav-links {
    display: inline-flex;
    justify-content: space-around;
    flex-grow: 1;
    font-size: 28px;
}

/*Pseudo Class*/

a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover {
    color:#7ECA9C
}

a:active {
    color: hotpink
}

/*Main image*/

.main-image {
    width: 100%;
    height: 300px;
    border-top: #170055 solid 10px;
    background-color: black;
    background-image: url("../images/1.png");
    background-size: contain;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

/* Divs with Subtitles*/
#about-me, #work, #empty-space1, #empty-space2, #contact{
    width:15%;
    background-color: #40394A;
    color: #CCFFBD;
}

h2 {
    font-size: 40px;
    text-align: right;
}

/* Main Project*/

.main, article, .project1-2, .project3-4, .footer {
    display:flex;
    flex-direction: row;
    background-color: #1C1427;
}

p {
    width: 85%;
    padding: 55px;
    color: aliceblue;
    font-size: 22px;
    text-align: justify;
}

.main-project {
    width: 73%;
    height: 600px;
    margin: 2%;
    border: 2px solid #7ECA9C ; 
    position: relative;
}

.main-project img, .project1 img, .project2 img, .project3 img, .project4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Projects from 1 to 4*/

.project1, .project2, .project3, .project4{
    width: 34.5%;
    height:200px;
    margin: 2%;
    border: 2px solid #7ECA9C ;
    background-color: black;
    position: relative;
    }

h3 {
    background-color:#7ECA9C ;
    padding: 10px;
    font-size: 22px;
    color: white;
} 

.img-txt {
    position: absolute;
    top: 70%;
}

/*Footer and nav*/

.footer-nav{
    width: 85%;
    padding: 18px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    }

.number, .mail, .github, .twitter, .spotify {
    color: white;
    font-size: 20px;
    }

    /*Hover over projects*/

.main-project:hover, .project1:hover, .project2:hover, .project3:hover, .project4:hover {
    opacity: 70%;
    cursor:pointer;
    border-color: hotpink;
    } 

h3:hover {
    transition: background-color .5s;
    background-color: hotpink;
    }


/* Media queries*/
@media screen and (max-width: 780px) {
    .header {
        max-height: 50px ;
    }

    h1 {
        font-size: 20px;
    }

    .nav-links li {
        width: 22%;
        font-size: 12px;
    }

    .main-image {
        display:flex;
        flex-direction: row;
        background-size: contain;
        height: 220px;
        font-size: 20px;
    }

    #about-me, #work, #empty-space1, #empty-space2, #contact {
        width: 100%;
        align-content: center;
    }

    h2 {
        font-size: 18px;
        padding: 4px 4px;
        text-align: left;
    }

    h3 {
        font-size: 16px;
        padding: 1px;
        font-size: 16px;
    }

    .main, article, #contact, .footer {
        display:flex;
        flex-direction: column;
    }

    p {
        width: auto;
        font-size: 14px;
        padding: 20px;
    }

    .main-project {
        width: 96%;
        max-height: 200px;
        background-size: cover;
    }

    .project1-2, .project3-4 {
        width: 100%;
        height: 80px;
    }

    .project1, .project2, .project3, .project4 {
        width: 100%;
        height: 60px;
    }

    #empty-space1, #empty-space2 {
        display: none;
    }

.footer, .footer-nav{
    width: 100%;
    }

    .number, .mail, .github, .twitter, .spotify {
        font-size: 12px;
}
    }

@media screen and (max-width: 480px) {
    .header {
        max-height: 50px ;
    }

    h1 {
        font-size: 18px;
    }

    .nav-links li {
        width: 22%;
        font-size: 10px;
    }

    .main-image {
        display:flex;
        flex-direction: row;
        background-size: cover;
        height: 180px;
        font-size: 20px;
    }

    #about-me, #work, #empty-space1, #empty-space2, #contact {
        width: 100%;
        align-content: center;
    }

    h2 {
        font-size: 18px;
        padding: 4px 4px;
        text-align: left;
    }

    h3 {
        font-size: 14px;
        padding: 1px;
    }

    .main, article, #contact, .footer {
        display:flex;
        flex-direction: column;
    }

    p {
        width: auto;
        font-size: 14px;
        padding: 20px;
    }

    .main-project {
        width: 96%;
        max-height: 200px;
    }

    .project1-2, .project3-4 {
        display:flex;
        flex-direction: wrap;
        width: 100%;
        height: 80px;
    }

    .project1, .project2, .project3, .project4 {
        width: 100%;
        height: 60px;
    }

    #empty-space1, #empty-space2 {
        display: none;
    }

.footer, .footer-nav{
    width: 100%;
    margin: 0;
    }

    .number, .mail, .github, .twitter, .spotify {
        font-size: 8px;
}
    }